h1 {
  color: #DFF3FF;
  font-size: 300%;
  font-family: sans-serif;
}

p {
  color: #316F42;
  text-indent: 25px;
  margin: 15px;
  font-family: "Courier New";
}

#content {
  background-color: #85BE96;
  width: 600px;
  min-height: 400px;
  padding: 15px;
  margin: 15px;
  font-size: 18px;
  border: dashed 8px #3D93C8;
  border-radius: 10% 25%;
}
